.card-sm {
    width: 25%;
    padding: 0.5rem 1rem;
}
.card-base {
    width: 33.333333%;
}
.card-lg {
    width: 50%;
}
.card-xl {
    width: 66.666667%;
}
.card-full {
    width: 100%;
}
.card-header {
    display: flex;
    justify-content: center;
}
.card-body {
    word-wrap: break-word;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
}
.modal,
.modal-container {
    margin-left: auto;
    margin-right: auto;
}
.modal-container {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    --tw-bg-opacity: 0.5;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.modal-hide {
    visibility: hidden;
    opacity: 0;
}
.modal-show {
    visibility: visible;
    opacity: 1;
}
.modal-close {
    position: absolute;
    left: 75%;
    margin-left: 5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.2s;
}
.modal-close,
.modal-close:hover {
    --tw-text-opacity: 1;
}
.modal-close:hover {
    color: rgb(239 68 68 / var(--tw-text-opacity));
}
.modal-card {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1rem 2rem;
    --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Alert */

.alert {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 0.375rem;
    border-width: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    padding: 1rem;
}

.alert .close:hover {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
}

.alert-primary {
    --tw-border-opacity: 1;
    border-color: rgb(147 197 253 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
}

.alert-secondary {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
}

.alert-success {
    --tw-border-opacity: 1;
    border-color: rgb(134 239 172 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(187 247 208 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(21 128 61 / var(--tw-text-opacity));
}

.alert-warning {
    --tw-border-opacity: 1;
    border-color: rgb(252 211 77 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(253 230 138 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(180 83 9 / var(--tw-text-opacity));
}

.alert-danger {
    --tw-border-opacity: 1;
    border-color: rgb(252 165 165 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(254 202 202 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(185 28 28 / var(--tw-text-opacity));
}

.alert-info {
    --tw-border-opacity: 1;
    border-color: rgb(103 232 249 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(165 243 252 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(14 116 144 / var(--tw-text-opacity));
}

.alert-disabled {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}

@media (max-width: 768px) {
    .card-xl {
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
