*,
:after,
:before {
    --tw-border-opacity: 1;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.btn {
    border-radius: 8px;
    padding: 8px 12px;
    transition: all 0.3s;
}
.btn-sm {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
    text-align: center;
}
.btn-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 153 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 119 255 / var(--tw-bg-opacity));
}

.btn-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.btn-success {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-success:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.btn-warning {
    --tw-bg-opacity: 1;
    background-color: rgb(245 158 11 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-warning:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(217 119 6 / var(--tw-bg-opacity));
}

.btn-danger {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-danger:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.btn-info {
    --tw-bg-opacity: 1;
    background-color: rgb(147 197 253 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-info:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.btn-disabled {
    cursor: not-allowed;
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn-sm .tooltiptext {
    background-color: #4b5563;
    border-radius: 6px;
    bottom: 150%;
    color: #fff;
    left: 50%;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 1;
}
.headline-tip {
    margin-left: -55px;
}
.edit-tip {
    margin-left: -42px;
}
.delete-tip {
    margin-left: -52px;
}
.btn-sm .tooltiptext:after {
    border: 5px solid transparent;
    border-top-color: #4b5563;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 100%;
}
.btn-sm:hover .tooltiptext {
    visibility: visible;
}
.container {
    width: 100%;
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
.content {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    padding: 1.25rem 1.25rem 2rem;
}
.content,
.scrollbar-thin.content,
.scrollbar.content {
    overflow-x: hidden;
}
.content .content-title {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.25rem;
}
.content .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
@media (min-width: 640px) {
    .content .header {
        justify-content: space-evenly;
    }
}
.container {
    --tw-bg-opacity: 1;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-top: 1rem;
    padding: 1.25rem;
    width: 100%;
}
.container,
.form-wrapper {
    margin-bottom: 1rem;
}
@media (min-width: 1024px) {
    .form-wrapper {
        display: flex;
    }
}
.label-wrapper {
    align-items: center;
    display: flex;
    width: 100%;
}
@media (min-width: 1024px) {
    .label-wrapper {
        width: 25%;
    }
}
.label-form {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}
.input-wrapper {
    align-items: center;
    display: flex;
    width: 100%;
}
@media (min-width: 1024px) {
    .input-wrapper {
        width: 75%;
    }
}
.form-control {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    border-radius: 0.375rem;
    border-width: 1px;
    padding: 0.25rem 0.5rem;
    transition-duration: 0.2s;
    transition-property: color, background-color, border-color, fill, stroke,
        opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
        -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-text-decoration-color,
        -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}
.form-control:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-color: rgba(0, 153, 255, 0.7);
    --tw-ring-offset-width: 0px;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.form-control[disabled],
.form-control[readonly] {
    cursor: not-allowed;
}
.button-wrapper {
    display: flex;
    justify-content: flex-end;
}
.ayah-title,
.ibu-title {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.ibu-title {
    margin-top: 2rem;
}
.table-biodata {
    --tw-border-opacity: 1;
    border-collapse: collapse;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
    border-radius: 0.125rem;
    table-layout: auto;
    text-align: center;
}
.table-biodata thead tr {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.table-biodata tbody tr {
    cursor: pointer;
}
.table-biodata.dataTable.stripe tbody tr.even:active,
.table-biodata.dataTable.stripe tbody tr.odd:active {
    --tw-bg-opacity: 1;
    background-color: rgb(253 186 116 / var(--tw-bg-opacity));
}
.table-biodata.dataTable.hover tbody tr.even:hover,
.table-biodata.dataTable.hover tbody tr.odd:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(191 219 254 / var(--tw-bg-opacity));
}
.table-biodata.dataTable.stripe tbody tr.even {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.table-biodata.dataTable.stripe tbody tr.odd.selected,
.table-biodata.dataTable tbody tr.even.selected {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(254 215 170 / var(--tw-bg-opacity)) !important;
}
.table-biodata td,
.table-biodata th {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
    padding: 0.25rem 0.5rem;
}
.table-biodata .nama {
    text-align: left;
}
.content .first-container,
.content .second-container {
    border-radius: 0.75rem;
    justify-content: space-between;
    width: 100%;
}
@media (min-width: 1280px) {
    .content .first-container,
    .content .second-container {
        display: flex;
    }
}
.first-container .stat-card,
.second-container .stat-card {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 0.75rem;
    padding: 1rem;
    width: 100%;
}
@media (min-width: 1280px) {
    .first-container .stat-card,
    .second-container .stat-card {
        width: 50%;
    }
}
.first-container .stat-card.popular-post-wrapper {
    display: block;
}
@media (min-width: 1280px) {
    .first-container .stat-card.popular-post-wrapper {
        margin-right: 0.75rem;
    }
}
.comment-preview-title,
.popular-post-title,
.visitor-chart-header {
    --tw-text-opacity: 1;
    color: rgb(0 153 255 / var(--tw-text-opacity));
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.first-container .stat-card.visitor-chart {
    display: block;
    margin-top: 1rem;
}
@media (min-width: 1280px) {
    .first-container .stat-card.visitor-chart {
        margin-left: 0.75rem;
        margin-top: 0;
    }
}
.popular-post-card {
    display: flex;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}
.card-img {
    margin-right: 1rem;
}
.post-title {
    color: rgb(31 41 55 / var(--tw-text-opacity));
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
}
.popular-post-sub,
.post-title {
    --tw-text-opacity: 1;
}
.popular-post-sub {
    color: rgb(75 85 99 / var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.visitor-chart-body {
    position: relative;
    width: 100%;
}
.second-container .stat-card {
    margin-top: 1.25rem;
}
.second-container .stat-card.comment-preview {
    margin-right: 0.75rem;
}
@media (min-width: 1280px) {
    .second-container .stat-card:nth-child(2) {
        margin-left: 0.75rem;
    }
}
.stat-card.comment-preview .comment-view-card {
    display: flex;
}
.first-container .single-card {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    padding: 1.25rem;
    width: 100%;
}
.first-container .single-card .link-post {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity));
}
.first-container .single-card .add-new-post {
    transition-duration: 0.3s;
    transition-property: color, background-color, border-color, fill, stroke,
        opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
        -webkit-backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke, opacity, box-shadow, transform,
        filter, backdrop-filter, -webkit-text-decoration-color,
        -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.first-container .single-card .add-new-post:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 119 255 / var(--tw-bg-opacity));
}
.footer {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.navbar.fixed ~ .content {
    padding-top: 75px;
}
.card {
    border-radius: 20px;
    height: 160px;
    margin: 10px 18px;
    max-width: 215px;
    padding: 20px;
    position: relative;
    width: 100%;
}
.card .card-body {
    height: 90%;
}
.card.post {
    background-color: #09f;
    color: #fff;
}
.card.comment {
    background-color: #10b981;
    color: #fff;
}
.card.visitor {
    background-color: #f59e0b;
}
.card.user {
    background-color: #6b7280;
    color: #fff;
}
.card .count-number {
    font-size: 42px;
    font-weight: 600;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    position: absolute;
    top: 10px;
}
.card .header-title {
    font-size: 26px;
    font-weight: 600;
    position: relative;
    top: 70px;
}
.card .card-body i.bx {
    font-size: 3rem;
    margin-right: 20px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.card .card-footer {
    border-top: 1px solid #000;
}
.card.comment .card-footer,
.card.post .card-footer,
.card.user .card-footer {
    border-top: 1px solid #fff;
}
.card-footer .header-readMore {
    align-items: center;
    display: flex;
}
.card-footer .header-readMore > i.bx {
    font-size: 20px;
    transition: all 0.3s ease;
}
.card-footer .header-readMore:hover > i.bx {
    transform: translateX(20%);
}
.popular-post-img {
    border-radius: 5px;
    max-width: 120px;
    min-width: 90px;
}
.popular-post-body .popular-post-card.slick-slide {
    display: flex !important;
}
.total-visitor {
    color: #6b7280;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
canvas#visitor-chart {
    height: 40vh !important;
    margin: 10px 0;
    width: 100%;
}
.comment-view-card {
    padding: 0.7rem 12px 0.7rem 5px;
}
.comment-view-card .comment-img {
    margin-right: 16px;
    max-width: 44px;
    min-width: 44px;
}
.post-comment {
    font-weight: 500;
}
i.bx-undo {
    font-size: 1.1rem;
    transform: rotate(180deg) scaleX(-1) translateY(-50%);
}
.comment-user {
    color: #374151;
    font-weight: 600;
}
.comment-card-body .bxs-calendar,
.comment-card-body .date-comment {
    color: #6b7280;
    font-size: 0.8rem;
    font-weight: 500;
}
.comment-text {
    word-wrap: break-word;
    text-align: justify;
    word-spacing: normal;
}
hr.comment-break {
    border-radius: 2px;
    border-top: 2px solid #4b556380;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
}
.single-card-body {
    margin-top: 25px;
}
.list-posts td {
    text-align: center;
}
.list-posts tbody td:nth-child(3) {
    text-align: left;
}
.list-posts tbody td .post-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.list-posts tbody td .link-post,
.list-posts tbody td button {
    font-size: 0.9rem;
}
.action-btn-post {
    display: flex;
    flex-wrap: nowrap;
}
.list-posts tbody td:nth-child(3) .action-btn-post {
    margin-top: 10px;
}
.list-posts
    tbody
    td:nth-child(3)
    .action-btn-post
    .btn-sm:last-child
    .bxs-star {
    color: #fbbf24;
}
.action-btn-post .btn-sm:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.action-btn-post .btn-sm:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.action-btn-wrapper .btn-sm:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.action-btn-wrapper .btn-sm:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.footer {
    align-items: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 56px;
    justify-content: space-between;
    padding: 10px 20px;
}
.footer .bxs-heart {
    color: red;
}
.dataTables_wrapper .dataTables_length select {
    border-radius: 10px !important;
    margin-bottom: 10px;
    padding: 5px 2px !important;
    text-align: center;
    transition: 0.3s;
}
.dataTables_wrapper .dataTables_filter input {
    border-radius: 10px !important;
    margin-bottom: 10px;
    padding: 5px 11px !important;
    transition: 0.3s;
}
.dataTables_wrapper .dataTables_filter input:focus,
.dataTables_wrapper .dataTables_length select:focus {
    outline-color: #09f;
    outline-offset: 0;
}
table {
    counter-reset: section;
}
.number:before {
    content: counter(section);
    counter-increment: section;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #d1d5db;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    align-items: center;
    display: inline-flex;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: center;
    position: relative;
    top: 6px;
    width: 40px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button i {
    font-size: 25px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #09f;
    border: none;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    background: #4b5563;
    border: none;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #9ca3af;
    border: none;
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #09f;
    border: none;
    color: #fff !important;
}
@media (max-width: 767px) {
    .popular-post-body .popular-post-card.slick-slide {
        display: block !important;
    }
    .popular-post-img {
        border-radius: 5px;
        max-width: 235px;
        min-width: 90px;
    }
    .dataTables_wrapper {
        font-size: 0.75rem;
    }
    .footer {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        justify-content: center;
    }
    .footer span {
        font-size: 0.6rem;
        text-align: center;
    }
}
@media (max-width: 1024px) {
    .footer {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        justify-content: center;
    }
    .footer span {
        text-align: center;
    }
}
